.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 0 250px;
}

/* head */
.header {
  background-color: rgb(48, 56, 70);
  height: 80px;
  color: #fff;

  display: flex;

  .header-image {
    width: 100px;
    height: 100px;
  }

  .header-title {
    margin-left: 10px;

    .header-name {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .header-content {
      font-size: 18px;
    }
  }
}

/* body */
.body {
  display: flex;
  height: 100%;
  padding: 20px;
  margin-top: 20px;

  /* content */
  .body-content {
    width: 70%;
    padding-right: 20px;

    border-right: 1px solid #ccc;

    .body-content-field {
      margin-bottom: 20px;
      .title {
        font-size: 16px;
        font-weight: 700;
        font-weight: bold;

        padding-bottom: 2px;

        margin-bottom: 5px;
        border-bottom: 1px solid #333;
      }

      .content-career-goals {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .goals {
          padding: 5px 0;
        }
      }

      .content {
        display: flex;
        margin: 10px 0;

        padding-bottom: 10px;

        .time {
          margin-right: 20px;
          font-style: italic;
          font-size: 14px;
        }
        .info {
          .company {
            font-size: 14px;
            font-weight: 700;
          }
          .position {
            font-size: 14px;
            font-weight: 600;
          }

          .task {
            font-size: 14px;
          }

          .tech {
            font-size: 14px;
          }
        }
      }
    }
  }

  /* person detail */
  .body-person-detail {
    width: 30%;
    margin-left: 10px;

    .person-header {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      padding-bottom: 2px;
      border-bottom: 1px solid #333;
    }
    .person-field {
      margin-bottom: 10px;
      .label {
        font-size: 14px;
        font-weight: 300;
        color: "#757575";
        margin-bottom: 2px;
      }
      .value {
        font-size: 15px;
        font-weight: 600;
        color: "#424242";
      }
    }

    //
    .title-skills {
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0 10px 0;

      padding-bottom: 2px;
      border-bottom: 1px solid #333;
    }

    .skills {
      .skill {
        margin-bottom: 10px;
        font-size: 14px;

        .category {
          font-weight: 500;
        }

        .detail {
          padding-left: 5px;
        }
      }
    }
  }
}
